:root {
    --DarkBlue: #233048;
    --Blue: #415A77;
    --LightBlue: #7C95B6;
    --Beige: #C6BDB6;
    --White: #E0E1DD;
    font-family: 'Inter', sans-serif;
    color: var(--DarkBlue); 
    background-color: var(--Beige);
}

* {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
}
/* Navbar */
nav {
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav > h1 {
    color: var(--White);
    margin-left: 20px;
    font-size: 2em;
}

.navbuttoncontainer {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-right: 10px;
}
.navbutton {
    background-color: var(--White);
    border: 1px solid var(--LightBlue);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.navbutton > a {
    text-decoration: none;
    color: var(--DarkBlue);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}
.navbutton > a > img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
/* Remove all the burger button */
.hitems {
    display: none;
}
#htoggle {
    display:none;
}
.hbutton {
    display: none;
}
/* Create a horizontal menu */ 


/* main */

main {
    margin: 20px;
}
/* Card About Me  */

.cardaboutme {
    display: flex;
    flex:min-content;
    justify-content: space-around;
    border-radius: 6px;
    margin: 30px;
}

.cardtext {
    background-color: var(--White);
    border-radius: 10px;
    padding-top: 100px;
    /*! padding-bottom: 40vh; */
    /*! padding-right: 20px; */
    /*! justify-content: center; */
    text-align: center;
    border: 1px solid var(--DarkBlue);
    width: 66%;
}

.cardtext > h1 {
    color: var(--DarkBlue);
    margin-bottom: 20px;
}

.cardtext > h2 {
    color: var(--Blue);
}

.cardtext > p {
    color: var(--LightBlue);
    margin-top: 50px;
    margin: 100px;
    /*! height: 42vh; */
}

.cardlinkpicture {
    margin: 45px;
    width: 33%;
}
.cardlinkpicture > img {
    border-radius: 100%;
    width: 100%;
    max-width: 1000px;
}

.cardlink {
    background-color: var(--DarkBlue);
    border-radius: 20px;
    text-align: center;
}

.cardlink > h3 {
    color: var(--White);
    margin-top: 10px;
    padding-top: 10px;
}

.cardlinklogo {
    display: flex;
    justify-content: space-around;
    padding:10px;
}

/* Card Project Container : */
.projectcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.cardprojectcontainer {
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardproject {
    background-color: var(--White);
    display: flex;
    flex:min-content;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--DarkBlue);
    margin: 20px;
}
.cardproject > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardprojecttitle {
    background-color: var(--DarkBlue);
    color: var(--White);
    margin-top: -4px;
}

.cardprojectdescription {
    color: var(--Blue);
    margin: 10px;
}
.logo {
    width: 40px;
    height: 40px;
}
/* Footer */

footer {
    font-style: italic ;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}



@media screen and ( max-width: 768px) {
    /* text entre les container : */

    /* Navbar */
        .navbuttoncontainer {
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: end;
        }
        /* transform text :vertical */
        .hitems {
            display: flex;
            flex-wrap: wrap;
        }
        .hitems > * {
            flex-grow: 1;
            flex-basis: 0;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
        }
        .hitems > *:hover{
            background: red;
        }
        .hitems > * {
            width: 100%;
            flex-basis: auto;
            
        }
        .navbutton {
            display: none;
        }
        .hbutton{
            display: inline-block;
            color: white;
            font-size: 3.2em;
            padding: 8px;
            align-items: center;
            justify-content: end;
            /*! width: 19px; */
            /*! font-size: xxx-large; */
            }
            /* show only when checkbox is :checked */
            .hitems {display:none}
            #htoggle:checked ~ .hitems { display: flex;}
            
    
    /* Container Aboutme : */
    
    
    
    .cardaboutme {
        display: flex;
        flex-direction: column;
        margin: 2px;
        align-items: center;
    }
    
    .cardtext {
        background-color: var(--White);
        border-radius: 10px;
        padding-top: 100px;
        text-align: center;
        border: 1px solid var(--DarkBlue);
        width: 99%;
        margin: 10px;
    }
    
    .cardtext > h1 {
        color: var(--DarkBlue);
        margin-bottom: 20px;
    }
    
    .cardtext > h2 {
        color: var(--Blue);
    }
    
    .cardtext > p {
        color: var(--LightBlue);
        margin-top: 50px;
        margin: 100px;
        /*! height: 42vh; */
    }
    
    .cardlinkpicture {
        margin: 20px;
        width: 50%;
    }
    .cardlinkpicture > img {
        border-radius: 100%;
        width: 100%;
        max-width: 1000px;
    }
    
    .cardlink {
        background-color: var(--DarkBlue);
        border-radius: 20px;
        text-align: center;
    }
    
    .cardlink > h3 {
        color: var(--White);
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .cardlinklogo {
        display: flex;
        justify-content: space-around;
        padding:10px;
    }
    /* container projects : */

    .projectcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.cardprojectcontainer {
    display: flex;
    align-items: center;
    /*! justify-content: center; */
    width: 75%;
}

.cardproject {
    background-color: var(--White);
    display: flex;
    flex:min-content;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--DarkBlue);
    margin: 10px;
}
.cardproject > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardprojecttitle {
    background-color: var(--DarkBlue);
    color: var(--White);
    margin-top: -4px;
}

.cardprojectdescription {
    color: var(--Blue);
    margin: 10px;
}
}