:root {
    --DarkBlue: #233048;
    --Blue: #415A77;
    --LightBlue: #7C95B6;
    --Beige: #C6BDB6;
    --White: #E0E1DD;
    font-family: 'Inter', sans-serif;
    color: var(--DarkBlue); 
    background-color: var(--Beige);
    margin: -8px;
}

a { 
    text-decoration:none;
}

nav {
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav > h1 {
    color: var(--White);
    margin-left: 20px;
}

.navbuttoncontainer {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vh;
    margin-right: 10px;
}
.navbutton {
    background-color: var(--White);
    border: 1px solid var(--LightBlue);
    border-radius: 10px;
    padding-right: 13px;
    padding-left: 13px;
}
.navbutton > a {
    text-decoration: none;
    color: var(--DarkBlue);
    font-size: 20px;
}
.navbutton > a > img {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

header {
    margin: 20px;
}

.cardprojectcontainer {
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardproject {
    background-color: var(--White);
    display: flex;
    flex:min-content;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid var(--DarkBlue);
    margin: 20px;
}

.cardproject > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardprojecttitle {
    background-color: var(--DarkBlue);
    color: var(--White);
    margin-top: -4px;
}

.cardprojectdescription {
    color: var(--Blue);
    margin: 10px;
}
