/* base content  */
:root {
    --DarkBlue: #233048;
    --Blue: #415A77;
    --LightBlue: #7C95B6;
    --Beige: #C6BDB6;
    --White: #E0E1DD;
    font-family: 'Inter', sans-serif;
    color: var(--DarkBlue); 
    background-color: var(--Beige);
}

* {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 20px;
}

  a {
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
}
/* //////base content  */

/* Navbar */
nav {
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav > h1 {
    color: var(--White);
    margin-left: 20px;
    font-size: 2em;
}

.navbuttoncontainer {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-right: 10px;
}

    @media screen and ( max-width: 768px) {
        .navbuttoncontainer {
            justify-content: end;
        }
    }

    /* navbutton  */
.navbutton {
    background-color: var(--White);
    border: 1px solid var(--LightBlue);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.navbutton > a {
    text-decoration: none;
    color: var(--DarkBlue);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}
.navbutton > a > img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
    /* Remove navbutton on small screen */
    @media screen and ( max-width: 768px) {
        .navbutton {
            display: none;
        }
    }
  /* ///navbutton  */

  /* burger button  */
/* Do no display the burger button on large screen */
  .burgerbutton {
    display: none;
}

  @media screen and ( max-width: 768px) {
    .burgerbutton{
        display: inline-block;
        color: white;
        font-size: 3.2em;
        padding: 8px;
        align-items: center;
        justify-content: end;
        }
    }

/* remove the toggle burger on big screen  */
#burgertoggle {
    display:none;
}

.burgeritems {
    display: none;
}

/* display on small screen the burger items */
    @media screen and ( max-width: 768px) {
        .burgeritems {
            display: flex;
            flex-wrap: wrap;
        }

        .burgeritems > * {
            flex-grow: 1;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            background-color: var(--White);
            border: 1px solid var(--DarkBlue);
        }
        .burgeritems > *:hover{
            background: var(--Beige);
        }
        .burgeritems > * {
            width: 100%;
        }

    /* do not display the burger list when the toggle is not checked */
        .burgeritems {display:none}
        #burgertoggle:checked ~ .burgeritems { display: flex;}
    }

  /* ////burger button */
  /* /////Navbar */

/* Card About Me  */
.cardaboutme {
    display: flex;
    flex:min-content;
    justify-content: space-around;
    border-radius: 6px;
    margin: 30px;
}
 /* cardaboutme on small screen  */
    @media screen and ( max-width: 768px) {

        .cardaboutme {
            flex-direction: column;
            margin: 2px;
            align-items: center;
        }
    }

.cardtext {
    background-color: var(--White);
    border-radius: 10px;
    padding-top: 100px;
    text-align: center;
    border: 1px solid var(--DarkBlue);
    width: 66%;
}
    @media screen and ( max-width: 768px) {
        .cardtext {
            width: 99%;
            margin: 10px;
        }
    }

.cardtext > h1 {
    color: var(--DarkBlue);
    margin-bottom: 20px;
}

.cardtext > h2 {
    color: var(--Blue);
}

.cardtext > p {
    color: var(--LightBlue);
    margin-top: 50px;
    margin: 100px;
}

.cardlinkpicture {
    margin: 45px;
    width: 33%;
}
    @media screen and ( max-width: 768px) {
        .cardlinkpicture {
            margin: 20px;
            width: 50%;
        }
    }

.cardlinkpicture > img {
    border-radius: 100%;
    width: 100%;
    max-width: 1000px;
}

.cardlink {
    background-color: var(--DarkBlue);
    border-radius: 20px;
    text-align: center;
}

.cardlink > h3 {
    color: var(--White);
    margin-top: 10px;
    padding-top: 10px;
}

.cardlinklogo {
    display: flex;
    justify-content: space-around;
    padding:10px;
}
/* //////Card About Me  */

/* Card Project Container : */
.projectcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
/* align items on small screen */
    @media screen and ( max-width: 768px) {
        .projectcontainer {
            align-items: center;
        }

    }
.cardprojectcontainer {
    display: flex;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
}


.cardproject {
    background-color: var(--White);
    display: flex;
    flex:min-content;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--DarkBlue);
    margin: 10px;
}

.cardproject > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardprojecttitle {
    background-color: var(--DarkBlue);
    color: var(--White);
    margin-top: -4px;
}

.cardprojectdescription {
    color: var(--Blue);
    margin: 10px;
}

/* ////Card Project Container : */

/* Footer */
footer {
    font-style: italic ;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
/* //////Footer  */

/* /////css project1.html  */
        /* ////Projectcontainershow on small screen : */
        @media screen and ( max-width: 768px) {
            .cardproject1 {
                align-items: center;
            }
        }


        
.cardproject1 {
    background-color: var(--White);
    display: flex;
    flex:min-content;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin: 60px;
}


.cardproject1 > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cardimgproject1 {
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
}

.cardproject1 > .cardprojecttitle {
    display: none;
}

/* /////css project1.html  */

.containershow {
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardcontainershow {
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--DarkBlue);
    border-radius: 10px;
}

.carddescriptionshow {
    padding: 30px; 
}

.imgshow {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardsideimg {
    display: flex;
    margin-top: 15px;
    
}
.sidepictureshow > img {
    width: 95%;

    border: 1px solid var(--DarkBlue);
    border-radius: 10px;
}
        /* ////Project show on small screen : */

@media screen and ( max-width: 768px) {
    .cardsideimg {
        display: flex;
        flex-direction: column;
    }
}
